
// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Align text
.is-centered
  text-align: center

.is-left
  text-align: left

.is-right
  text-align: right


// Float either direction
.float-right
	float: right

.float-left
	float: left

// Clear a float with .clearfix
.clearfix
	*zoom: 1

	&:after,
	&:before
		content: ''
		display: table

	&:after
		clear: both
