// Badges

// Inheritances
%outline
  background-color: transparent


.badge
  display: inline-block
  height: 2.2rem
  padding: 0 .5rem
  background-color: $grey-lightest
  border: .1rem solid
  border-color: $grey-lightest
  border-radius: $core-radius
  color: $grey
  font-size: 1.2rem
  font-weight: 700
  line-height: 2.2rem
  text-align: center
  text-decoration: none
  text-transform: uppercase
  white-space: nowrap

  &.badge--outline
    @extend %outline

  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)

    &.badge--#{$name}
      background: $color
      border-color: $color
      color: $color-invert

      &.badge--outline
        @extend %outline
        color: $color
