// Blank slates
.blank
  background: $core-blank-bg
  border-radius: $global-radius
  text-align: center
  padding: 2rem

  .blank-title
    font-size: 1.8rem
    margin: 1.5rem 0 .2rem 0

  .blank-meta
    font-size: 1.4rem
    color: $core-meta-color

  .blank-action
    margin-top: 1rem
