
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']
	background-color: $gray
	border: .1rem solid
  border-color: $gray
	border-radius: $global-radius
	color: $gray
  cursor: pointer
	display: inline-block
	font-size: 1.1rem
	font-weight: 700
	height: 3.8rem
	letter-spacing: .1rem
	line-height: 3.8rem
  opacity: 1
  padding: 0 3rem
  text-align: center
  text-decoration: none
  text-transform: uppercase
	white-space: nowrap

	&:hover,
	&:focus
		background-color: $gray
		border-color: transparent
		color: $gray
		outline: 0

	&.disabled,
	&[disabled]
    cursor: default
		opacity: .5

		&:hover,
		&:focus
			background-color: $gray-light
			border-color: $gray-light

	&.outline
    background-color: transparent
		color: inherit

		&:hover,
		&:focus
      background-color: transparentize($gray, .9)
      border-color: inherit
			color: inherit

	&.clear
    background-color: transparent
    border-color: transparent
		color: $gray

		&:hover,
		&:focus
      background-color: transparentize($gray, .9)
      border-color: transparent
			color: inherit


  // Set styles for each colors defined in _Variables.sass
	@each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.#{$name}
      background: $color
      border-color: transparent
      color: $color-invert
      &:hover,
      &:focus
        background: darken($color, 10%)
        border-color: transparent
        color: $color-invert
      &:active
        border-color: transparent
      &.outline
        background: transparent
        border-color: $color
        color: $color
        &:hover,
        &:focus
          border-color: darken($color, 10%)
          color: darken($color, 10%)
      &.inverted
        background: $color-invert
        color: $color
        &:hover
          background: darken($color-invert, 5%)
        &.outline
          background-color: transparent
          border-color: $color-invert
          color: $color-invert
          &:hover
            background: transparentize($black, .5)
