// Dropdowns
// ---------

.dropdown
  cursor: pointer

.dropdown-content
  visibility: hidden
  position: absolute
  top: 5rem
  background-color: $initial
  padding: .8rem 1.6rem
  margin-top: -.3rem
  margin-left: -5rem
  min-width: 16rem
  list-style: none
  opacity: 0
  border: .1rem solid $gray-lightest
  border-radius: $global-radius
  box-shadow: 0 .4rem 1rem 0 rgba(0,0,0,.1)
  transition: visibility 0s 0.15s, opacity 0.15s, margin-top 0.15s;
  li
    margin: 0
    a
      color: $gray-lightest
      padding: 1rem 0
      text-decoration: none
      display: block
      &:hover
        color: $primary

.dropdown:hover .dropdown-content
  visibility: visible
  margin-top: 0
  opacity: 1
  transition-delay: 0s;

.show
  display: block
