// Dropdowns
// ---------

.dropdown
  cursor: pointer

.dropdown-content
  display: none
  position: absolute
  top: 3.5rem
  left: 0
  background-color: $initial
  min-width: 16rem
  border: .1rem solid $gray-lightest
  border-radius:  $global-radius
  box-shadow: 0 .4rem 1rem 0 rgba(0,0,0,.1)
  a
    color: $gray-lightest
    padding: 1rem 1.6rem
    font-size: 1.2rem
    text-decoration: none
    display: block
    &:last-child
      border-radius:  0 0 $global-radius $global-radius
    &:hover
      color: $primary

.show
  display: block
