// Menus

.menu
  background: $core-menu-bg
  margin: 0
  padding: 1.2rem
  border: $core-border-width solid $core-border-color
  border-radius: $core-radius
  list-style: none
  z-index: $z-index-10

  .menu-item
    margin: 0
    padding: 0 .8rem
    text-decoration: none
    user-select: none

    & > a
      display: block
      margin: 0 -.8rem
      padding: .8rem 1rem
      color: $grey-400
      font-size: $type-size-small
      text-decoration: none
      border-radius: $core-radius
      &:focus,
      &:hover
        color: $core-link-color

      &:active,
      &.active
        background: transparentize($core-link-color, .9)
        color: $core-link-color

  .menu-badge
    float: right
    padding: .6rem 0

    .btn
      margin-top: -.2rem


  .divider
    margin-bottom: 2rem
