.menu-nav
  a
    display: block
    padding: .5rem 1rem

.menu-list
  a
    border-radius: $global-radius
    color: $core-text-color
    display: block
    padding: .5rem 1rem

    &:hover
      background-color: $gray-lightest
      color: $core-link-color

    // Modifiers
    &.active
      background-color: $core-link-color
      color: adjust-hue($core-link-color, 10%)

  li
    ul
      border-left: .1rem solid $global-radius
      margin: 1rem
      padding-left: 1rem

.menu-label
  color: $gray-lightest
  font-size: $size-small
  letter-spacing: .1rem
  margin-bottom: .5rem
  text-transform: uppercase

  &:not(:first-child)
    margin-top: 2rem
